body {
	background-color: red;
}
h1 {
	text-align: center;
	margin-top: 30px ;
	font-size: 25px;
}

.container {
	margin-top: 4%;
}

.inner {
	overflow: hidden;
}

.inner img {
	transition: all 1.5s ease;
}

.inner:hover img {
	transform: scale(1.5);
}

nav {
	margin: 40px;
	padding: 0 40%;
}